<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">
<head>
	<meta charset="UTF-8">
	<title>관리자 메인</title>
	<!-- 부트스트랩 CSS 링크 추가 -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="content" layout:fragment="content">
	<div class="container mt-4">
		<ul class="nav nav-tabs mb-3">
			<li class="nav-item">
				<a class="nav-link active" th:href="@{/admin}">관리자메인</a>
			</li>
			<li class="nav-item">
				<span class="nav-link disabled">|</span>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/admin/user}">회원관리</a>
			</li>
			<li class="nav-item">
				<span class="nav-link disabled">|</span>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/admin/movie}">영화관리</a>
			</li>
			<li class="nav-item">
				<span class="nav-link disabled">|</span>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/admin/ticket}">영화예매내역관리</a>
			</li>
			<li class="nav-item">
				<span class="nav-link disabled">|</span>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/admin/board}">영화게시판관리</a>
			</li>
			<li class="nav-item">
				<span class="nav-link disabled">|</span>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/admin/total}">총 매출 확인</a>
			</li>
		</ul>
		<br>
		<h4 class="text-center mb-4">🎬 평점 Top 3 🎬</h4>
		<br>
		<div class="row">
			<div class="col-lg-4 col-md-6 mb-4" th:each="movie : ${movie}" th:object="${movie}">
				<div class="card h-100 bg-light"> <!-- 여기에서 bg-light 클래스 추가 -->
					<img th:src="@{*{img}}" class="card-img-top" alt="영화 포스터" style="height: 350px; object-fit: cover;">
					<div class="card-body">
						<h5 class="card-title" th:text="*{movieTitle}"></h5>
						<p class="card-text" th:text="'개봉일 : ' + *{movieDate}"></p>
						<p class="card-text" th:text="'관람 등급 : ' + *{movieRate}"></p>
						<p class="card-text" th:text="'평점 : ' + *{goodPointAvg}"></p>
					</div>
				</div>
			</div>
		</div>

		<h4 class="text-center mb-4">🎬 예매율 Top 3 🎬</h4>
		<br>
		<div class="row">
			<div class="col-lg-4 col-md-6 mb-4" th:each="sell : ${sell}" th:object="${sell}">
				<div class="card h-100 bg-light"> <!-- 여기에서 bg-light 클래스 추가 -->
					<img th:src="@{*{img}}" class="card-img-top" alt="영화 포스터" style="height: 350px; object-fit: cover;">
					<div class="card-body">
						<h5 class="card-title" th:text="*{movieTitle}"></h5>
						<p class="card-text" th:text="'개봉일 : ' + *{movieDate}"></p>
						<p class="card-text" th:text="'관람 등급 : ' + *{movieRate}"></p>
						<p class="card-text" th:text="'평점 : ' + *{goodPointAvg}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 부트스트랩 JS와 필요한 종속성 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.min.js"></script>
</body>
</html>
