<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 부트스트랩 CSS 링크 추가 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="container">
        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin}">관리자메인</a>
            </li>
            <li class="nav-item">
                <span class="nav-link">|</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/user}">회원관리</a>
            </li>
            <li class="nav-item">
                <span class="nav-link">|</span>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/admin/movie}">영화관리</a>
            </li>
            <li class="nav-item">
                <span class="nav-link">|</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/ticket}">영화예매내역관리</a>
            </li>
            <li class="nav-item">
                <span class="nav-link">|</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/board}">영화게시판관리</a>
            </li>
            <li class="nav-item">
                <span class="nav-link">|</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/total}">총 매출 확인</a>
            </li>
        </ul>
        <br>
            <h4 class="text-center">📽 영화관리 📽</h4>
        <br>
        <div class="text-end">
            <a class="btn btn-outline-success" th:href="@{/admin/insert}">등록</a>
        </div>
        <br>
    <div class="table-responsive">
        <table class="table table-bordered border-primary">
            <thead class="table-primary">
            <tr>
                <th>영화번호</th>
                <th>영화제목</th>
                <th>개봉일</th>
                <th>등급</th>
                <th>평점</th>
                <th>수정</th>
                <th>삭제</th>
                <th>상세페이지</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="movie : ${movie}" th:object="${movie}">
                <td th:text="*{movieNo}"></td>
                <td th:text="*{movieTitle}"></td>
                <td th:text="*{#strings.substring(movieDate,0,4)} + '년' +
                    *{#strings.substring(movieDate,5,7)} + '월' +
                    *{#strings.substring(movieDate,8,10)} + '일'">
                </td>
                <td th:text="*{movieRate}"></td>
                <td th:text="*{goodPointAvg}"></td>
                <td>
                    <form th:action="@{/admin/movie_update}" method="get">
                        <input type="hidden" name="updateId" th:value="*{movieNo}">
                        <button type="submit" class="btn btn-primary btn-sm">수정</button>
                    </form>
                </td>
                <td>
                    <!--PathVariable 로 전달해서 삭제처리-->
                    <form th:action="@{/admin/deleted-movie/{deleteId}(deleteId=*{movieNo})}" method="post">
                        <input type="hidden" name="deleteId" th:value="*{movieNo}">
                        <button type="submit" class="btn btn-danger btn-sm">삭제</button>
                    </form>
                </td>
                <td>
                    <img th:src="@{*{img}}" class="card-img-top" alt="..." width="50" height="50">
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    </div>
</div>
</body>
</html>
