<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 부트스트랩 CSS 링크 추가 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="container">
        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin}">관리자메인</a>
            </li>
            <li class="nav-item">
                <span class="nav-link">|</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/user}">회원관리</a>
            </li>
            <li class="nav-item">
                <span class="nav-link">|</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/movie}">영화관리</a>
            </li>
            <li class="nav-item">
                <span class="nav-link">|</span>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/admin/ticket}">영화예매내역관리</a>
            </li>
            <li class="nav-item">
                <span class="nav-link">|</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/board}">영화게시판관리</a>
            </li>
            <li class="nav-item">
                <span class="nav-link">|</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/total}">총 매출 확인</a>
            </li>
        </ul>
        <br>
        <h4 class="text-center">📕 티켓관리 📕</h4>
        <br>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered border-primary">
                <thead class="table-primary">
                <tr>
                    <th>ticket 번호</th>
                    <th>User 이름</th>
                    <th>영화 제목</th>
                    <th>지점</th>
                    <th>예매 날짜</th>
                    <th>좌석 번호</th>
                    <th>삭제</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="ticket : ${ticketList}">
                    <td th:text="${ticket.ticketNo}"></td>
                    <td th:text="${ticket.user.userId}"></td>
                    <td th:text="${ticket.movies.movieTitle}"></td>
                    <td th:text="${ticket.location.locationName}"></td>
                    <td th:text="${ticket.bookDate}"></td>
                    <td>
                        <!-- Iterate over seatList for each ticket -->
                        <div th:each="seat : ${ticket.seatList}">
                            <span th:text="${seat.getRowLabel()} + ${seat.seatColumnNo}"></span>
                            <br/> <!-- Optional: Add line break for each seat -->
                        </div>
                    </td>
                    <td>
                        <form th:action="@{/admin/deleted-book/{ticketNo}(ticketNo=${ticket.ticketNo})}" method="post">
                            <input type="hidden" name="ticketNo" th:value="${ticket.ticketNo}">
                            <button type="submit" class="btn btn-danger btn-sm">예매 취소</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>