<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf/org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Booking</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/select_seat_css.css">
<!--    <script type="text/javascript" th:src="@{/js/book_seat.js}"></script>-->
</head>
<body>
<form th:action="@{/cnema/seat}" method="post" id="seatForm">
    <div id="container">
        <ul class="showcase">
            <li>
                <div class="availableSeat"></div>
                <small class="small">Available Seat</small>
            </li>
            <li>
                <div class="selectedSeatIcon"></div>
                <small class="small">Selected Seat</small>
            </li>
            <li>
                <div class="occupiedSeat"></div>
                <small class="small">Occupied Seat</small>
            </li>
        </ul>

        <input type="hidden" id="selectedSeatsInput" name="selectedSeats">

        <div th:each="row, rowStat : ${seats}" class="row">
            <span th:each="seatStatus, colStat : ${row}"
              th:class="${seatStatus} ? 'seat' : 'occupiedSeat'"
              th:attr="data-row=${rowStat.index}, data-column=${colStat.index}"
              onclick="selectSeat(this)">
            </span>
        </div>

<!--        <p class="text">You have selected <span id="count">0</span> seats for a price of $ <span id="costs">0</span></p>-->

        <input type="hidden" id="movieNo" name="movieNo" th:value="${movieNo}">
        <input type="hidden" id="locationNo" name="locationNo" th:value="${locationNo}">
        <input type="hidden" id="date" name="date" th:value="${date}">

        <input type="button" value="예매" class="next" onclick="submitForm()">
        <a href="/cnema">
            <input type="button" value="메인으로" class="back">
        </a>

    </div>
</form>

<script>

    document.addEventListener('DOMContentLoaded', () => {
        const seats = document.querySelectorAll('.seat');

        seats.forEach(seat => {
            seat.addEventListener('click', () => {
                if (!seat.classList.contains('selectedSeatIcon')) {
                    seat.classList.add('selectedSeatIcon');
                    seat.classList.remove('seat');
                    reserveSeat(seat)
                } else {
                    seat.classList.remove('selectedSeatIcon');
                    seat.classList.add('seat');
                    cancelReservation(seat);
                }
            });
        });
        });

    let selectedSeats = [];

    function reserveSeat(seatElement) {
    const row = seatElement.getAttribute('data-row');
    const column = seatElement.getAttribute('data-column');
    const seatInfo = { row: row, column: column };

    selectedSeats.push(seatInfo);
}
    function cancelReservation(seatElement) {
    const row = seatElement.getAttribute('data-row');
    const column = seatElement.getAttribute('data-column');
    const index = selectedSeats.findIndex(seat => seat.row === row && seat.column === column);

    if (index !== -1) {
        selectedSeats.splice(index, 1);
    }
}
function submitForm() {
    const movieNo = document.getElementById('movieNo').value;
    const locationNo = document.getElementById('locationNo').value;
    const date = document.getElementById('date').value;
    const selectedSeatsInput = document.getElementById('selectedSeatsInput');

    // 선택된 좌석 정보를 구분 문자(여기서는 쉼표)로 조합하여 문자열 생성
    const selectedSeatsString = selectedSeats.map(seat => `${seat.row}${seat.column}`).join(',');

    // hidden input에 값 설정
    selectedSeatsInput.value = selectedSeatsString;
    document.getElementById('movieNo').value = movieNo;
    document.getElementById('locationNo').value = locationNo;
    document.getElementById('date').value = date;

    // 폼 제출
    document.getElementById('seatForm').submit();
}

</script>
</body>

</html>