<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf/org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Booking</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/select_seat_css.css">
</head>
<body>
    <form th:action="@{/cnema/theater}" method="post" id="selectionForm">
        <div class="location-container">
            <label for="location">지점 선택:</label>
            <br><br>
            <select id="location" name="location">
                <option disabled selected value="">지점을 선택해주세요</option>
                <option th:each="locationDto : ${locationDtoList}"
                    th:value="${locationDto.locationNo}"
                    th:text="${locationDto.locationName}"></option>
            </select>

        </div>
        <br>
        <div class="movie-container">
            <label for="movie">
                Pick a Movie :
            </label>
            <br>
            <select name="movie" id="movie" onchange="checkMovieRating()">
                <option disabled selected value="">영화를 선택해주세요</option>
                <option th:each="moviesDto : ${moviesDtoList}"
                        th:value="${moviesDto.movieNo}"
                        th:text="${moviesDto.movieTitle}"
                        th:attr="data-rate=${moviesDto.movieRate}"
                ></option>
            </select>
            <input type="hidden" id="userYears" th:value="${years}" />
        </div>
        <br>
        <div class="select-container">
            <label for="date">날짜 선택:</label>
            <br>
            <select id="date" name="date" class="select">
                <option disabled selected value="">날짜를 선택해주세요</option>
                <option th:value="2024-05-09">2024-05-09</option>

                <option th:each="date : ${dateList}"
                        th:value="${date}"
                        th:text="${#temporals.format(date, 'yyyy-MM-dd')}">
                </option>
            </select>
        </div>
        <button class="next" type="button" onclick="submitSelection()">다음</button>
    </form>
    <br><br>
        <a href="/cnema">
            <input type="button" value="메인으로" class="back">
        </a>
    <script>
        // 사용자가 선택 사항을 제출할 때 실행되는 함수
        function submitSelection() {
            // 사용자가 선택한 영화, 지점, 날짜 정보를 폼에 추가

            if (document.getElementById("movie").value.trim().length == 0) {
                alert("영화를 선택하지 않았습니다.");
                document.getElementById("movie").focus();
                return false;
            }
            if (document.getElementById("location").value.trim().length == 0) {
                alert("지점을 선택하지 않았습니다.");
                document.getElementById("location").focus();
                return false;
            }
            if (document.getElementById("date").value.trim().length == 0) {
                alert("날짜를 선택하지 않았습니다.");
                document.getElementById("date").focus();
                return false;
            }

            // 폼을 제출 (선택한 영화, 지점, 날짜 정보가 서버로 전송됨)
            document.getElementById('selectionForm').submit();
        }

        function checkMovieRating() {
            var selectedMovie = document.getElementById("movie");
            var selectedOption = selectedMovie.options[selectedMovie.selectedIndex];
            var selectedMovieRate = selectedOption.getAttribute("data-rate");
            var years = parseInt(document.getElementById("userYears").value);

            if (selectedMovieRate === "PG-13") {
                if (years < 15) {
                    alert("이 영화는 15세 이용가입니다.");
                    selectedMovie.selectedIndex = 0;
                    selectedMovie.focus();
                    return; // Stop further execution
                }
            } else if (selectedMovieRate === "PG-17") {
                if (years < 19) {
                    alert("이 영화는 19세 이용가입니다.");
                    selectedMovie.selectedIndex = 0;
                    selectedMovie.focus();
                    return; // Stop further execution
                }
            }

            // If no alert is shown or conditions are not met, continue with form submission
            document.getElementById('selectionForm').submit();
        }

    </script>
</body>
</html>