<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>게시글 입력</title>
</head>
<body>
<div class="content" layout:fragment="content">
<form th:action="@{/board/board_insert}" method="post">
    <div>
        <label for="title">영화제목</label>
        <select name="movieTitle">
            <option value="">영화를 선택하세요</option>
            <!-- moviesDto 객체에서 movieTitle을 가져와서 selectbox에 넣음 -->
            <option th:each="movie : ${moviesDtoList}" th:value="${movie.movieNo}"
                    th:text="${movie.movieTitle}"></option>
        </select>
    </div>
    <div>
        <label for="title">제목</label>
        <input type="text" name="title" th:field="${boardDto.title}">
        <span th:errors="${boardDto.title}"></span>
    </div>
    <div>
        <label for="content">내용</label>
        <textarea name="content" th:field="${boardDto.content}" rows="5"></textarea>
        <span th:errors="${boardDto.content}"></span>
    </div>
    <input type="submit" value="등록">
</form>
<br>
<a th:href="@{/board/board_view}">목록</a>
</div>
</body>
</html>