<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="container">
        <br>
        <h4 class="text-center">자유게시판</h4>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered border-primary">
                <thead class="table-primary">
                <tr>
                    <th>번호</th>
                    <th>영화제목</th>
                    <th>제목</th>
                    <th>내용</th>
<!--                    <th>작성자</th>-->
                    <th>별점</th>
                    <th>수정</th>
                    <th>삭제</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board : ${boardDto}" th:object="${board}">
                    <td th:text="*{boardId}"></td>
                    <td th:text="*{movieTitle}"></td>
                    <td th:text="*{title}"></td>
                    <td th:text="*{content}"></td>
<!--                    <td th:text="*{userId}"></td>-->
                    <td th:text="*{goodPoint}"></td>
                    <td>
                        <form th:action="@{/board/update}" method="get">
                            <input type="hidden" name="updateId" th:value="*{boardId}">
                            <button type="submit" class="btn btn-primary btn-sm">수정</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/board/delete/{deleteId}(deleteId=*{boardId})}" method="post">
                            <input type="hidden" name="deleteId" th:value="*{boardId}">
                            <button type="submit" class="btn btn-danger btn-sm">삭제</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <form th:action="@{/board/board_insert}" method="get">
            <button type="submit" class="btn btn-primary">신규 게시글 입력</button>
        </form>
        <br>
        <!-- 검색 기능 -->
<!--        <form th:action="@{/board/search}" method="get">-->
<!--            <select name="type" class="form-select">-->
<!--                <option selected value="">검색 내용 선택</option>-->
<!--                <option value="title">제목</option>-->
<!--                <option value="content">내용</option>-->
<!--            </select>-->
<!--            <input type="text" name="keyword" value="" class="form-control" placeholder="검색어를 입력하세요">-->
<!--            <button type="submit" class="btn btn-primary">검색</button>-->
<!--        </form>-->
    </div>
</div>
</body>
</html>
