<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>자유게시판</h1>
<br>
<table border="1">
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>내용</th>
        <th>영화번호</th>
        <th>작성자</th>
        <th>별점</th>
        <th>수정</th>
        <th>삭제</th>
    </tr>
    <tr th:each="board : ${boardDto}">
        <td th:text="${board.boardId}"></td>
        <td th:text="${board.title}"></td>
        <td th:text="${board.content}"></td>
        <td th:text="${board.movieNo}"></td>
        <td th:text="${board.userId}"></td>
        <td th:text="${board.goodPoint}"></td>
        <td>
            <form th:action="@{/board/update}" method="get">
                <input type="hidden" name="updateId" th:value="${board.boardId}">
                <input type="submit" value="수정">
            </form>
        </td>
        <td>
            <!--  pathvariable로 전달해서 삭제 처리  -->
            <form th:action="@{/board/delete/{deleteId}(deleteId=${board.boardId})}" method="post">
                <!--                <form th:action="@{/member/delete}" method="post">-->
                <!--  쿼리파라미터로 사용할 아이  -->
                <input type="hidden" name="deleteId" th:value="${board.boardId}">
                <input type="submit" value="삭제">
            </form>
        </td>
        <!--            <td th:text="${member.id}"></td>-->
        <!--            <td th:text="${member.name}"></td>-->
        <!--            <td th:text="${member.age}"></td>-->
        <!--            <td th:text="${member.addr}"></td>-->
    </tr>
</table>
<br>
<form th:action="@{/board/board_insert}" method="get">
    <input type="submit" value="신규 게시글 입력">
</form>

<!--  검색 기능  -->
<form th:action="@{/board/search}" method="get">
    <select name="type">
        <option selected value="">검색 내용 선택</option>
        <option value="title">제목</option>
        <option value="content">내용</option>
    </select>
    <input type="text" name="keyword" value="" placeholder="검색어를 입력하세요">
    <input type="submit" value="검색">
</form>
</body>
</html>