<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>게시글 등록</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="container">
        <form th:action="@{/board/insert}" method="post" th:object="${boardDto}">
            <div class="mb-3">
                <label for="movieNo">영화</label>
                <select id="movieNo" name="movieNo" class="form-select" th:field="*{movieNo}">
                    <option value="">영화를 선택하세요</option>
                    <option th:each="movie: ${moviesDtoList}" th:value="${movie.movieNo}"
                            th:text="${movie.movieTitle}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="title">제목</label>
                <input type="text" id="title" name="title" class="form-control" th:field="*{title}">
            </div>
            <div class="mb-3">
                <label for="content">내용</label>
                <textarea id="content" name="content" class="form-control" th:field="*{content}"></textarea>
            </div>
            <div class="mb-3">
                <label for="username">작성자</label>
                <input type="text" id="username" name="content" class="form-control" th:value="${username}">
            </div>
            <br>
            <div class="mb-3">
                <label for="goodPoint">별점</label>
                <select id="goodPoint" name="goodPoint" class="form-select" th:field="*{goodPoint}">
                    <option th:each="i : ${#numbers.sequence(1, 5)}" th:value="${i}"
                            th:text="${i}"></option>
                </select>
            </div>
            <div align="center" class="col-12">
                <button type="submit" class="btn btn-primary">등록</button>
                <a th:href="@{/board/list}" class="btn btn-secondary">목록</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
