<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>자유게시판</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="container">
        <br>
        <h4 class="text-center">*** 자유게시판 ***</h4>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered border-primary">
                <thead class="table-primary">
                <tr>
                    <th>번호</th>
                    <th>영화</th>
                    <th>제목</th>
                    <th>내용</th>
                    <th>작성자</th>
                    <th>별점</th>
                    <th>수정</th>
                    <th>삭제</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board : ${paging != null ? paging.content : {}}" th:object="${board}">
                    <td th:text="*{boardId}"></td>
                    <td th:text="${board.movies != null ? board.movies.movieTitle : ''}"></td>
                    <td th:text="*{title}"></td>
                    <td th:text="*{content}"></td>
                    <td th:text="${board.user != null ? board.user.userName : ''}" th:value="${board.user != null ? board.user.userNo : ''}"></td>
                    <td th:text="*{goodPoint}"></td>

                    <td th:if="${userNo != null and board.user != null and board.user.userNo == userNo}">
                        <form th:action="@{/board/update}" method="get">
                            <input type="hidden" name="updateId" th:value="*{boardId}">
                            <button type="submit" class="btn btn-primary btn-sm">수정</button>
                        </form>
                    </td>
                    <td th:if="${userNo != null and board.user != null and board.user.userNo == userNo}">
                        <form th:action="@{/board/delete/{deleteId}(deleteId=*{boardId})}" method="post">
                            <input type="hidden" name="deleteId" th:value="*{boardId}">
                            <button type="submit" class="btn btn-danger btn-sm">삭제</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

            <!--  검색 기능  -->
            <form th:action="@{/board/search}" method="get">
                <select name="type">
                    <option selected value="">검색 내용 선택</option>
                    <option value="movieNo">영화제목</option>
                    <option value="userNo">작성자</option>
                </select>
                <input type="text" name="keyword" value="" placeholder="검색어를 입력하세요">
                <input type="submit" value="검색">
            </form>
            <br>

            <nav aria-label="Page navigation example" th:if="${flag}">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${paging != null and paging.number <= 0 ? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="@{/board/list(page=${paging != null ? paging.number - 1 : 0})}">
                            Previous
                        </a>
                    </li>
                    <th:block th:each="pageNumber : ${pagination}">
                        <li class="page-item">
                            <a class="page-link"
                               th:href="@{/board/list(page=${pageNumber})}"
                               th:text="${pageNumber+1}"></a>
                        </li>
                    </th:block>
                    <li class="page-item" th:classappend="${paging != null and paging.number + 1 == paging.totalPages ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/board/list(page=${paging != null ? paging.number + 1 : 0})}">Next</a>
                    </li>
                </ul>
            </nav>


            <nav aria-label="Page navigation example" th:unless="${flag}">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${paging != null and paging.number <= 0 ? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="@{/board/search(type=${type}, keyword=${keyword}, page=${paging != null ? paging.number - 1 : 0})}">
                            Previous
                        </a>
                    </li>
                    <th:block th:each="pageNumber : ${pagination}">
                        <li class="page-item">
                            <a class="page-link"
                               th:href="@{/board/search(type=${type},keyword=${keyword}, page=${pageNumber})}"
                               th:text="${pageNumber+1}"></a>
                        </li>
                    </th:block>
                    <li class="page-item" th:classappend="${paging != null and paging.number + 1 == paging.totalPages ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/board/search(type=${type},keyword=${keyword},
                                    page=${paging != null ? paging.number + 1 : 0})}">Next</a>
                    </li>
                </ul>
            </nav>



        </div>
        <br>
        <a class="btn btn-outline-success" th:href="@{/board/insert}"
           sec:authorize="isAuthenticated()">글 쓰기</a>
        <br>
    </div>
</div>
</body>
</html>

