<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="container">
        <form th:action="@{/board/update}" method="post" th:object="${boardDto}">
            <div>
                <label for="movieTitle">영화제목</label>
                <select id="movieTitle" name="movieTitle" class="form-select">
                    <option value="">영화를 선택하세요</option>
                    <option th:each="movie: ${moviesDtoList}"
                            th:value="${movie.movieTitle}"
                            th:text="${movie.movieTitle}"
                            th:selected="${movie.movieTitle == boardDto.movieTitle}"></option>
                </select>
            </div>

            <div>
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control" th:field="*{title}">
            </div>

            <div>
                <label for="content" class="form-label">내용</label>
                <input type="text" class="form-control" th:field="*{content}">
            </div>

            <div>
                <label for="goodPoint">별점</label>
                <select id="goodPoint" name="goodPoint" class="form-select">
                    <option value="">별점을 선택하세요</option>
                    <option th:each="i : ${#numbers.sequence(1, 5)}"
                            th:value="${i}"
                            th:text="${i}"
                            th:selected="${i == boardDto.goodPoint}"></option>
                </select>
            </div>

            <input type="hidden" th:field="*{boardId}">

            <div align="center" class="col-12">
                <button type="submit" class="btn btn-primary">수정</button>
                <a class="btn btn-secondary" th:href="@{/board/list}">취소</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
