body{
    font-family: 'Lato', sans-serif;
    background-color: #242333;
    color: #fff;
    box-sizing: border-box;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;

}

.location-container{
    position: absolute;
    top: 290px; /* 화면 상단에서 세로 중앙에 위치 */
    left: 50%; /* 화면 왼쪽에서 가로 중앙에 위치 */
    transform: translate(-50%, -50%); /* 요소의 중앙을 화면의 정확한 중앙으로 이동 */

}
.location-container select {
    width: 100%; /* 부모 요소에 맞게 너비를 100%로 설정 */
    height: 50px;
    font-size: 23px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.select-container {
    position: absolute;
    top: 400px; /* 화면 상단에서 세로 중앙에 위치 */
    left: 50%; /* 화면 왼쪽에서 가로 중앙에 위치 */
    transform: translate(-50%, -50%); /* 요소의 중앙을 화면의 정확한 중앙으로 이동 */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2000px; /* 너비 조정 (예: 200px로 설정) */
    height: auto; /* 높이 조정 (예: 100px로 설정) */
    margin: 0 auto; /* 가운데 정렬을 위해 좌우 마진을 auto로 설정 */
    padding: 10px; /* 내부 여백 조정 */
    box-sizing: border-box; /* padding 값이 요소의 크기에 포함되도록 box-sizing 설정 */
}

.select {
    width: 35%; /* 부모 요소에 맞게 너비를 100%로 설정 */
    height: 40px;
    font-size: 23px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.movie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.movie-container select {
    width: 35%; /* 부모 요소에 맞게 너비를 100%로 설정 */
    height: 40px;
    font-size: 23px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.next{
    position: absolute;
    top: 560px;
    left: 680px;
    transform: translate(-50%, -50%);
    font-size: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 121px;
    height: 60px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

.back {
    position: absolute;
    top: 560px;
    left: 830px;
    transform: translate(-50%, -50%);
    font-size: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 13px;
    box-sizing: border-box;
}

/* .movieContainer{
    margin: 20px 0px;
} */

.showcase{
    background-color: #777;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 16px 0;
    padding: 5px 10px;
}


/* .movieContainer select{
    margin: 10px;
    padding: 5px 15px 5px 15px;
    border-radius: 7px;
    appearance: none;
    border: 0;
} */

.movieContainer select option{

   text-align: left;
}
label[for="movie"] {
    font-size: 30px; /* 레이블 폰트 크기 설정 */
    margin-right: 10px; /* 레이블과 선택창 사이 여백 조정 */
}


li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.small{
    color: #777;
    margin-left: 10px;
}

.showcase .seat:hover{
    cursor: default;
    scale: 1;
}

.showcase .selectedSeat:hover{
    cursor: default;
    scale: 1;
}

.screen {
    background-color: #fff;
    margin: 25px;
    padding: 5px;
    width: 400px;
    height: 100px;
    transform: rotateX(-45deg) scale(1.5); /* 회전 후 크기를 1.5배 확대 */
    transform-origin: center center; /* 중앙을 기준으로 회전 중심점 설정*/
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
    }

/*
.screen{
   background-color: #fff;
   margin: 25px;
   padding: 5px;
   width: 140px;
   height: 80px;
   transform: rotateX(-45deg);
   box-shadow: 0 3px 10px rgb(255 255 255 / 70%);
} */


.selectedSeatIcon{
    background-color: #6feaf6;
    width: 30px;
    height: 30px;
    margin: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: default;
}

.seat:hover{
    scale: 1.2;
}

.selectedSeat:hover{
    scale: 1.2;
}

.seat:nth-of-type(2){
    margin-right: 18px;
}

.seat:nth-of-type(7){
    margin-left: 18px;
}

.occupiedSeat:nth-of-type(2){
    margin-right: 18px;
}
.occupiedSeat:nth-of-type(7){
    margin-left: 18px;
}

.seat{
    background-color: #444451;
    width: 30px;
    height: 30px;
    margin: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.availableSeat{
    background-color: #444451;
    width: 30px;
    height: 30px;
    margin: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: default;
}


.selectedSeat{
    background-color: #6feaf6;
    width: 30px;
    height: 30px;
    margin: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.occupiedSeat{
    background-color: #fff;
    width: 30px;
    height: 30px;
    margin: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



.row{
    display: flex;
    justify-content: center; /* 좌석들을 수평 중앙 정렬 */

}

.text{
    margin-top: 30px;
    padding: 20px;
}

#count{
    color: #6feaf6;
}

#costs{
    color: #6feaf6;
}
