<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="content" layout:fragment="content">
    <h4 class="text-center my-4">관람 후기</h4>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
<!--                <h6 th:text="${board.movies.movieTitle}" class="text-decoration-none"></h6> &lt;!&ndash; 이 위치에 영화 제목 표시 &ndash;&gt;-->
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">영화</th>
                            <th scope="col">작성자</th>
                            <th scope="col">제목</th>
                            <th scope="col">내용</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="board : ${board}" th:object="${board}">
                            <td th:text="*{movies.movieTitle}"></td>
                            <td th:text="*{#strings.substring(user.userName,0,1)} + '**'"></td>
                            <td th:text="*{title}"></td>
                            <td th:text="*{content}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-end">
                    <a class="btn btn-outline-success" th:href="@{/cnema/movie}">목록</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
